<div class="message">
  <ul class="ascii">
    <li class="timestamp"><span class="small"><%= message.timestamp %></span></li>
    <li><span class="small"> <%= message.user.display_name %>:</span>
      <ul>
        <li><%= message.body %></li>
      </ul>
    </li>
  </ul>
</div>
