@mixin ascci-corners {
  position: relative;
  span{
    &.corner{
      background-image: url('corner.png');
      position: absolute;
      width: 15px;
      height: 15px;
      content: "";

      &.tl{
        top: -8px;
        left: -8px
      }
      &.tr{
        top: -8px;
        right: -8px
      }
      &.bl{
        bottom: -8px;
        left: -8px
      }
      &.br{
        bottom: -8px;
        right: -8px
      }
    }
  }
}
