.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  // font-weight: bold;
  text-align: center;

  max-width: 800px;
  margin: 0 auto;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  @include ascci-corners();
  border: 1px dashed #000;
  position: relative;
}

.footer {
  @include ascci-corners();
  border: 1px dashed #000;

  ul{
    list-style: none;
  }
}

.main {
  @include ascci-corners();
  border-left: 1px dashed #000;
  border-right: 1px dashed #000;
  text-align: left;
}

.aside-left {
  text-align: left;
  border-left: 1px dashed #000;
  max-width: 200px;
}

@media all and (min-width: 600px) {
  .aside-left { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-left { order: 1; }
  .main    { order: 2; }
  .footer  { order: 3; }
}
