div.messages{
  @include ascci-corners;
  border-left: 1px dashed #000;
  border-top: 1px dashed #000;
  border-right: 1px dashed #000;
  padding: 10px;
}
div.new-message-form-wrapper{
  @include ascci-corners;
  border: 1px dashed #000;
  padding: 10px;

  label{
    display: inline-block;
    width: 100%;
  }
  small{
    display: inline-block;
    width: 100%;
  }
  textarea{
    width: 99%;
  }
  input[type=submit]{
    margin-top: 10px;
  }
}

div.exit-wrapper{
  padding: 10px;
  text-align: right;
}
